.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .mainContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .imageUpload, .stepImageUpload {
    width: 40%;
    height: 250px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
  }
  
  .imagePlaceholder {
    font-size: 16px;
    text-align: center;
    color: #888;
  }
  
  .imagePreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .inputFields {
    width: 55%;
  }
  
  .label, .stepLabel {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .inputField, .textareaField, .textField {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .stepContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .stepContent {
    width: 55%;
  }
  
  .deleteButton {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .addButton, .submitButton, .cancelButton {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
  }
  
  .addButton:hover, .submitButton:hover, .cancelButton:hover {
    background-color: #2980b9;
  }
  