/* 메인 컨테이너 스타일 */
.container {
    display: flex; 
    justify-content: space-between;
    align-items: stretch;
    width: 70vw;
    height: 70vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerContainer {
    width: 100%; 
    padding: 20px;
    background-color: #f5f5f5; 
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

/* 왼쪽 프로필 영역 스타일 */
.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 30%; 
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #e5e5e5;
}

/* 프로필 이미지 스타일 */
.profileImage {
    width: 100%;
    max-width: 200px;  /* 최대 크기 설정 */
    aspect-ratio: 1 / 1;  /* 정사각형 비율 유지 */
    border-radius: 50%;  /* 원형 유지 */
    object-fit: cover;
    margin-bottom: 20px;
}

/* 닉네임 입력란 스타일 */
.nicknameInput {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.contactButton {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
}

.contactButton:hover {
    background-color: #007B9A;
}

.kakaoBtnContainer {
    display: flex;
    justify-content: center;  /* 가로 중앙 정렬 */
    height: 100px;            
}

/* 중앙 로그인 및 기능 영역 스타일 */
.loginContainer {
        flex-grow: 1;   /* 중앙 영역이 남은 모든 공간 차지 */
        padding: 40px;  /* 여백 추가 */
        background-color: #fff;
        border-radius: 10px;
        /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
        text-align: center;
        box-sizing: border-box;
}

.loginBoxText {
    font-size: 20px;
    margin-bottom: 20px;
}

.buttonList {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 중앙 정렬 */
    gap: 20px; /* 버튼 사이 간격 */
    width: 100%; /* 버튼 리스트가 중앙에서 너비를 차지 */
    margin-top: 40px;
}

.buttonItem {
    width: 80%; /* 버튼을 중앙에 맞게 넓게 */
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center; /* 버튼 텍스트 중앙 정렬 */
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-align: center; /* 텍스트 중앙 정렬 */
}

.buttonLabel {
    font-size: 16px;
}

/* 폼 제출 버튼 스타일 */
.submitButton {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.submitButton:hover {
    background-color: #45a049;
}
