/* AI 컴포넌트의 메인 컨테이너 스타일 */
.wrap {
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 5px 4px 8px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 텍스트 스타일 */
.selectpic {
  font-weight: bold;
}

/* 숨겨진 파일 인풋 */
.fileInput {
  display: none; /* 기본 input 숨기기 */
}

/* 맞춤형 버튼 스타일 */
.custombtn {
  background-color: white;
  border: 1px solid #98c76a;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.custombtn:hover {
  color: white;
  background-color: #98c76a;
}

/* 버튼 컨테이너 (그리드 사용) */
.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 두 개의 버튼을 나란히 배치 */
  gap: 20px; /* 버튼 사이의 간격 */
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

/* 모바일 대응 */
@media (max-width: 768px) {
  .wrap {
    width: 100%;
    height: 100vh; /* 높이도 화면 전체를 채우게 설정 */
    border-radius: 0;
    box-shadow: none;
    justify-content: center;
  }

  .button-container {
    grid-template-columns: 1fr; /* 모바일에서는 버튼이 세로로 쌓이도록 변경 */
    width: 80%; /* 버튼 영역의 너비 조정 */
  }

  /* 버튼 크기를 모바일에 맞게 조정 */
  .custombtn {
    width: 100%;
    padding: 15px 20px;
    font-size: 1.2rem;
  }
}
