/* src/styles/Card.module.css */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 50px;
}

.card {
    width: calc(20% - 3.6875rem);
    height: 20.1446rem;
    text-align: center;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1400px) {
    .card {
        width: calc(30%);
    }
    .cardContainer {
        justify-content: space-evenly;
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(50%);
    }
    .cardContainer {
        justify-content: center;
    }
}

.card:hover {
    transform: scale(1.05);
}

.iconWrapper {
    width: 100px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px auto;
    transition: border-color 0.3s ease;
}

.icon {
    width: 50px;
    height: 50px;
}

.title {
    font-size: 1.443em;
    color: #333;
    margin-bottom: 10px;
    transition: color 0.3s ease; /* 색상이 바뀌는 효과 */
}

.description {
    font-size: 1em;
    color: #666;
}

/* 마우스를 올렸을 때(active 대신 hover 적용) */
.card:hover .iconWrapper {
    border-color: green; /* 마우스를 올렸을 때 초록색 테두리 */
}

.card:hover .title {
    color: green; /* 마우스를 올렸을 때 초록색 제목 */
}
