.gridContainer {
  display: grid;
  grid-template-rows: auto; /* 행 높이를 자동으로 맞추게 설정 */
  justify-items: center;
  width: 100%;
}

.sliders{
  width: 100%;
  height: 720px;
}
.sliders img{
  width: 100%;
  height: 720px;
  object-fit: cover;
}
.cardGridItem {
  width: 1550px;
  height: 500px; /* 특정 그리드 항목의 높이를 700px로 설정 */
}

.carvonGridItem {
  width: 1550px;
  height: 800px; /* 특정 그리드 항목의 높이를 800px로 설정 */
}
.topFiveGridItem {
  width: 1550px;
  height: 800px; /* 특정 그리드 항목의 높이를 800px로 설정 */
}
.QuizGridItem {
  width: 100%;
  display: grid;
  align-items: center;
  align-content: center;
}
