/* src/styles/KakaoMapMenu.module.css */

.toggleButton {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #f0f0f0;
    color: black;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
    padding: 10px;
    border-radius: 5px;
    transition: left 0.3s ease;
  }
  
  .sideMenu {
    position: fixed;
    top: 0;
    left: -26%;
    width: 26%;
    height: 100%;
    background-color: #f0f0f0;
    color: black;
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .sideMenu.open {
    left: 0;
  }
  
  .sideMenu.open + .toggleButton {
    left: 26%;
  }
  
  .search {
    position: relative;
    width: 80%;
    margin: 20px auto;
    padding: 10px 0;
  }
  
  .search input {
    width: calc(100% - 40px);
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }
  
  .clearButton {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .clearButton:hover {
    background-color: #c0392b;
  }
  
  .KakaoMapList {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
    scrollbar-width: none;
  }
  
  .KakaoMapList::-webkit-scrollbar {
    display: none;
  }
  