/* src/components/MainRecycleDetail.module.css */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; /* Flexbox 레이아웃 적용 */
    align-items: flex-start; /* 아이템들이 상단에 정렬되도록 설정 */
}

.image {
    width: 40%; /* 이미지가 전체의 40%를 차지 */
    height: auto;
    border-radius: 10px;
    margin-right: 20px; /* 텍스트와의 간격을 줌 */
}

.content {
    width: 60%; /* 텍스트가 나머지 60%를 차지 */
}

.title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.tag, .category {
    font-size: 0.99em;
    font-style: italic;
    color: #888;
}

p {
    color: #666;
}
