.topwrap {
  display: grid;
  justify-items: center;
  margin-top: 5rem;
}

.wrap {
  display: flex;
  width: 60%;
  height: 500px;
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 4px 8px 0px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: center;
}

.rewrap {
  height: 500px;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.quiz {
  position: relative;
  display: inline-block;
  padding: 30px;
  margin: 5px 0;
  border: 1px solid #bfbf51;
  border-bottom-right-radius: 60px 10px;
  font-family: 'Nanum Pen Script';
  font-size: 27px;
  color: #555;
  word-break: break-all;
  background: #ffff88;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%, #ffff88), color-stop(82%, #ffff88), color-stop(82%, #ffff88), color-stop(100%, #ffffc6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff88', endColorstr='#ffffc6', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.quiz::after {
  content: " ";
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 35px;
  width: 150px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 35px 5px rgba(0, 0, 0, 0.4);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.quiz:hover {
  border-bottom-right-radius: 75px 30px;
}

.quiz:hover::after {
  box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 2px 37px 7px rgba(0, 0, 0, 0.37);
}

.quiz>p {
  padding: 5px 0 !important;
}

.quiz>p>a {
  color: #555;
}

.obtn {
  width: 100px;
  height: 100px;
  margin-right: 50px;
  background-color: white;
  color: blue;
  border: 1px solid #98c76a;
  border-radius: 10px;
  font-weight: bold;
  font-size: 2rem;
}

.xbtn {
  width: 100px;
  height: 100px;
  background-color: white;
  color: red;
  border: 1px solid #98c76a;
  border-radius: 10px;
  font-weight: bold;
  font-size: 2rem;
}

.obtn:hover,
.xbtn:hover {
  background-color: rgba(153, 199, 106, 0.3);
}

.nbtn {
  width: 75px;
  height: 50px;
  padding: 10px;
  background-color: white;
  border: 1px solid #98c76a;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.nbtn:hover {
  color: white;
  background-color: #98c76a;
}

.question {
  font-size: 1.3rem;
}