.stepsContainer {
    display: flex;
    justify-content: space-around;
    align-items: stretch; /* 각 step의 높이를 동일하게 맞춤 */
    background-color: #f9fafb;
    padding: 20px;
    border-radius: 10px;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    min-width: 180px; /* 박스의 최소 너비를 넓힘 */
}


.step:hover {
    transform: translateY(-5px); /* 호버 시 살짝 위로 올라가는 효과 */
}

.stepNumber {
    font-size: 35px; /* 폰트 크기를 px로 설정 */
    font-weight: bold;
    color: #268F45; /* 초록색 */
    margin-bottom: 10px;
}

.stepIcon img {
    width: 60px; /* 아이콘 크기 */
    height: auto;
    margin-bottom: 10px;
}

.stepTitle {
    font-size: 16px;
    color: #333;
    line-height: 24px;
    white-space: nowrap; /* 줄바꿈을 하지 않도록 설정 */
    overflow: hidden; /* 넘친 텍스트는 잘라냄 */
    text-overflow: ellipsis; /* 넘친 텍스트를 ...로 표시 */
}


