.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 한 줄에 4개의 칸 */
  gap: 16px;
  padding-top: 50px;
}

.postListTitle {
  font-size: 16px;
}

.imgContainer {
  display: flex;
  align-items: center;
}

.postListAuthorName {
  font-family: 'GmarketSansMedium';
}

.cardMedia {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.typographyBody {
  font-size: 12px;
  font-family: 'GmarketSansMedium';
}

/* 카드 스타일 */
.card {
  width: 300px;
  margin-top: 30px;
  border-radius: 30px 10px;
}

.paginationContainer {
  padding: 20px 0px;
  display: flex;  
  justify-content: center;
}

.postingButton {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  padding-right: 20px; /* 여백 추가 */
  margin-top: 20px;
}

.postingButton button {
  background-color: #98c76a; /* 버튼 색상 */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.postingButton button:hover {
  background-color: #86b261; /* hover 시 색상 변경 */
}

.postListDate {
  font-size: 12px;
  margin-top: 5px;
}

.updatedText {
  font-size: 10px;  /* 작은 글씨 크기 */
  color: gray;      /* 회색 글씨 */
}

.searchBox{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.searchButton {
  background-color: #98c76a; /* 버튼의 배경색, 사용자가 사용하는 배경색 적용 */
  color: #fff; /* 텍스트 색상은 흰색으로 대비를 줌 */
  border: none; /* 테두리 제거 */
  border-radius: 5px; /* 약간의 곡선으로 부드러운 모서리 */
  padding: 10px 20px; /* 버튼 크기를 적당히 키움 */
  font-size: 16px; /* 텍스트 크기 */
  cursor: pointer; /* 클릭 가능한 포인터 표시 */
  transition: background-color 0.3s ease; /* 호버 시 배경색 전환 애니메이션 */
}

.searchButton:hover {
  background-color: #86b261; /* 마우스 호버 시 더 어두운 색상으로 변경 */
}

.searchButton:active {
  background-color: #5f7f44; /* 클릭 시 색상이 더 어두워짐 */
}

.searchButton:focus {
  outline: 2px solid #000000; /* 접근성 향상을 위한 포커스 아웃라인 */
  outline-offset: 2px;
}