/* 섹션 스타일 */
.volunteerSection {
  display: flex;
  /* padding: 20px 0; */
  background-color: #98c76a;
  color: black;
  width: 100%;
  position: relative;
  grid-area: qmain;
  align-items: center;
}

.quizWrap {
  display: grid;
  grid-template-columns: 17fr minmax(0, 150fr) 17fr;
  grid-template-areas:
    ' . . . '
    ' side1 qmain side2 '
    ' . . . ';
}

.side1,
.side2 {
  background-color: #98c76a;
}

.side1 {
  grid-area: side1;
}

.side2 {
  grid-area: side2;
}

/* 텍스트 컨테이너 */
.textContainer {
  max-width: 60%;
}

/* 텍스트 스타일 */
.textContainer h1 {
  font-size: 2.0em;
  font-weight: bold;
}

.textContainer p {
  font-size: 0.9em;
  margin-top: 10px;
  color: black;
  /* 설명 부분 색상 */
}

.qbtn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}

/* 강조된 텍스트 */
.highlight {
  color: white;
  /* 강조 색상: 초록색 */
}

/* 버튼 스타일 */
.joinButton {
  color: white;
  border: none;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 250px;
}

@media (max-width: 1136px) {
  .imgContainer {
    width: 280px;
    bottom: -35px;
    right: 35px;
  }
}