* {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ulli {
  list-style: none;
  padding: 0;
}

.mj {
  display: inline-block;
  margin-top: 10px;
}

.site {
  text-decoration: none;
  font-weight: bold;
  color: blue;
}

.sido, .gungoo {
  padding: 5px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 1.1rem;
  color: gray;
  height: 45px;
}

.sido {
  width: 250px;
}

.title {
  margin-top: 10px;
}

.index {
  display: inline-block;
}

.index>div:nth-of-type(1) {
  display: inline-block;
}

.sindex {
  display: inline-block;
}

.sindex>div:nth-of-type(1) {
  display: inline-block;
}

.gungoo {
  width: 150px;
}

.btn1 {
  padding: 5px;
  width: 75px;
  font-weight: bold;
  font-size: 1.1rem;
  height: 45px;
}

.portal {
  font-size: 1.1rem;
  margin: 15px 0px;
}