/* TopFiveList.module.css */

.home {
    margin: 0 auto;
    text-align: center;
    padding: 100px;
}

.slide {
    
    padding: 10px;
}


.boardImage {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* 새로 추가할 부분 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.header > p{
    color: #98c76a;
    font-size: 15px;
}

/* TopFiveList.module.css */

.titleContainer {
    display: flex;
    justify-content: space-between;  /* 좌우로 균등하게 배치 */
    align-items: baseline;  /* 텍스트 아랫부분 기준으로 정렬 */
    margin: 10px 10%;  /* 아래쪽에 여백 추가 */
}

.title {
    font-size: 24px;  /* 제목 스타일 */
    font-weight: bold;
}

.more {
    font-size: 14px;  /* 더보기 스타일 */
    color: green;  /* 더보기 색상 설정 */
    cursor: pointer;
}