.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;  /* 텍스트 아랫부분 기준으로 정렬 */
}

.title {
    font-size: 40px;  /* 제목 스타일 */
    font-weight: bold;
}

.more {
    float: right;
    font-size: 25px;  /* 더보기 스타일 */
    color: green;  /* 더보기 색상 설정 */
    cursor: pointer;
}

.viewContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;  /* 요소들이 한 줄에 맞지 않으면 다음 줄로 넘어가게 설정 */
}

.imgContainer {
    margin-right: 50px;
    width: 750px;
}
.imgContainer img{
    object-fit: cover;
    width: 750px;
    height: 650px;  

}

.textContainer {
    border: solid black 2px;
    width: 746px;
    height: 650px;
}


.TFTitle {
    margin: 80px;
    font-size: 25px;
    display: block;

}


