/* App.module.css */

.appContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* 화면 전체 높이 */
}

.mainContent {
    flex: 1;
    /* Footer를 페이지 하단에 위치시키기 위해 이 공간을 차지 */
}
