<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload JSON File</title>
</head>
<body>
    <h1>Upload JSON File</h1>
    <form method="POST" action="/upload-json" enctype="multipart/form-data">
        <input type="file" name="file" accept=".json"/>
        <button type="submit">Upload</button>
    </form>

    <hr />

    <h1>Read DataBase</h1>
    <form method="GET" action="/read-data">
        <button type="submit">Read</button>
    </form>

    <hr />

    <h1>지도 보기</h1>
    <form method="GET" action="/map">
        <button type="submit">지도 보기</button>
    </form>
</body>
</html>
